.navbarboard{

    background-color: #fff;
    height: 60px;
    
  }
  
  .navbar-board {
    left:calc(50% - 45px);
    position: absolute;
    padding:0;
    top:10px;
  }
  #boardimg{

    height: 110px;
    width: auto;

  }

  #logoname{

    color: #643e9b
    weight: 30px;

  }
  

.jumbotron{
    
    color: #ff5163;
    background-color: #fff;


}

h1{

    color:#ff5163;
    font-size: 4em;
}

.container{

    padding-top: 40px;

}

h1{

    font-family: arial;

}

.content {

    display: flex;
    justify-content: left;
    flex-direction: column;
    align-items: 
    max-width: 70%;
    margin: auto;
    padding: 10px;
    font-family: arial;
}

.btn {

    background-color: #6e44a7;
    color: #fff;
    border: 3px solid #643e9b;
    border-radius: 40px;
    padding-left: 40px;
    padding-right: 40px;
}

a.btn:hover{

    background-color: #eb5b69;
    color:#fff;
    border: 3px solid #643e9b;
    

}

.col-lg-5 {
    -webkit-box-flex: 0;
    flex: 0 0 41.66666667%;
    max-width: 41.66666667%;
}

*, *::before, *::after {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

div {
    display: block;
}

.container {

    background-color: #fff;
    width: 99%;
    height: 98vh;
    display: flex;
}
.swimlane {
    width: 100px;
    height: 100%;
    background-color: #169e8a;
    flex-basis: 200px;
    /* background-image: url("board-monster1.png"); */
    /*height: 500px;*/
    background-position: top;
    background-repeat: no-repeat;
    margin-top: 125px;
    margin-left: 16px;
    border-radius: 20px;

}

.card {
    width: 100%;
    height: 200px;
    background-color: #aaaaaa;
}

.card-buttons {
    display:flex;
    justify-content: space-between;
}

.background-image {
    height: 193px;
    background-image: url(board-monster1.png);
    position: relative;
    top: -90px;
    left: -2px;
    background-repeat: no-repeat;
    background-size: 200px;
}