body, html {
    height: 100%;
    margin: 0;
  }

  .h2 {
      color: red;
  }

.navbar{

    padding: 14px;

}

#login{

    padding-right: 14px;
    color:#6e44a7;
}

#navbarboard{

    height: 60px;
    
 }
  
  .board-logo {
    left:calc(50% - 45px);
    position: absolute;
    padding:0;
    top:-65px;
  }

  #boardimg{

    height: 110px;
    width: auto;

  }

  #logoname{

    color: #643e9b
    /* weight: 30px; */

  }
  

.jumbotron{
    
    color: #ff5163;
    background-color: #fff;
    padding: 0px;
    margin: 0px;


}

h1{

    color:#ff5163;
    font-size: 4em;
}

.container{

    padding-top: 40px;

}

.row{



}

h1 p{

    font-family: Arial, Helvetica, sans-serif;

}

.content {

    display: flex;
    justify-content: left;
    flex-direction: column;
    max-width: 70%;
    margin: auto;
    padding: 10px;
    font-family: arial;
}

#navbtn{

    border: 3px solid #643e9b;
    border-radius: 40px;
    padding: 6px 40px 6px 40px;
    color: #643e9b;
    
}

#navbtn:hover{

    background-color:#643e9b;
    border-radius: 40px;
    padding: 6px 40px 6px 40px;
    color: #fff;
    

}

.btn {

    background-color: #6e44a7;
    color: #fff;
    border: 3px solid #643e9b;
    border-radius: 40px;
    padding-left: 40px;
    padding-right: 40px;
}

a.btn:hover{

    background-color: #eb5b69;
    color:#fff;
    border: 3px solid #643e9b;
    

}

.btnaddlist {

    background-color: #ececec;
    color: rgb(66, 66, 66);
    border: 3px solid #e6e6e6;
    border-radius: 40px;
    padding-left: 40px;
    padding-right: 40px;
    margin: 14px;
}

.btnaddlist:hover{

    background-color: #6e44a7;
    color: #fff;
    border: 3px solid #643e9b;
}

#button-addon2{

    background-color: #6e44a7;
    color: #fff;
    border: 3px solid #643e9b;
    padding: 8px;

}

#button-addon2:hover{

    background-color: #eb5b69;
    color: #fff;
    border: 3px solid #db5361;
}

.col-lg-5 {
    -webkit-box-flex: 0;
    flex: 0 0 41.66666667%;
    max-width: 41.66666667%;
}

*, *::before, *::after {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

div {
    display: block;
}

.app-container {
    background-color: #fff;
    width: 100vw;
    height: 98vh;
    display: flex;
    overflow-x:scroll;
    background: url("board-background.png") no-repeat center center fixed;
    background-position: bottom;
    background-size: cover;
    overflow: scroll;
   
}
.swimlane {
    height: 80vh;
    background-color: #169e8a;
    flex-basis: 250px;
    margin-top: 125px;
    margin-left: 16px;
    border-radius: 20px;
    /* text-align:center; */
    /* display:flex; */
    /* flex-direction:column; */
    /* justify-content: center; */
    /* align-items:center; */
}

.dialog-box-container{
    position: relative;
    background: #00aabb;
    border-radius: 1em;
    height: 125px;
    padding: 24px 14px 14px 14px;
    margin-left: 14px;
}

.dialog-box-container::after{

    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 0;
    border: 20px solid transparent;
    border-top-color: #00aabb;
    border-bottom: 0;
    border-left: 0;
    margin-left: -86px;
    margin-bottom: -20px;

}

.card {

        width: 100%;
        padding: 6px;
        background-color: transparent;
        border: none;
}

.card-buttons {
    display:flex;
    justify-content: space-between;
}

.background-image {
    height: 235px;
    position: relative;
    top: -101px;
    left: 34px;
    background-repeat: no-repeat;
    background-size: 180px;
}

.swimlane-title{

    color:#fff;
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    margin-top: -85px;
    
}

#swimlane-title-input{

    border-radius: 16px;
    border: 2px solid #0796a3;
    padding: 4px 8px 4px 8px;

}

.box-container-title{

    color:#fff;
    font-size: 1.3em;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    padding: 0px 0px 12px 0px;

}

/*Card Designs*/
.btnAddCard1{

    background-color: rgba(255, 255, 255, 0.2);
    color: #6e44a7;
    padding: 8px  24px 8px 24px;
    width: 90%;
    margin-left:5%;
    border-radius: 20px;
    border: none;
    opacity: .75;
}

.btnAddCard1:hover{

    background-color: rgba(255, 255, 255, 0.4);
    color: #6e44a7;
    padding: 8px  24px 8px 24px;
    width: 90%;
    margin-left:5%;
    border-radius: 20px;
    border: none;
}

.rounded-circle-delete{

    background-color: rgba(255, 255, 255, .0);
    opacity: .7;
    color: #fff;
    font-size: 20px;
    border: none;
    top: 113.7px;
    position: relative;
    right: -178px;

}

.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 16px;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    opacity: .7;
}